$font-constant: 2.24;
$font-size: 16px;
$cpl: 97;
$link-color: #3D40B6;
$background-color: #f9f9fb;
$text-color: #224;

body {
  font-size: 100%;
  line-height: 1.5em;
  max-width: $cpl * $font-size / $font-constant;
  margin: 0 auto 2em auto;
  background: $background-color;
  color: $text-color;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 15%);
  }
}

#header {
  h1 {
    text-align: center;
  }
}

.article {
  .header {
    h1 {
      font-size: 24pt;
      margin: 0;
      line-height: 1.5em;
    }

    margin: .5rem 0 0 0;
  }

  p:first-of-type {
    margin-top: 0;
  }
}
a.nav {
  display: inline-block;
  text-decoration: none;
  font-size: 1.15em;
  line-height: 1.5em;

  &.next {
    float: right;
  }
}

#footer {
  margin-top: 1em;
  padding-top: .75em;
  font-size: 0.85em;
  line-height: 1.5em;
  text-align: center;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

#author-bio {
  padding-top: .5em;
  .header {
    img {
      margin-right: 1.5em;
    }
  }
}

.read-more {
  font-size: 1.15em;
  text-decoration: none;
  line-height: 1.5em;
  display: inline-block;
  float: right;
}
